/* Reset Rules */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol, menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

body{
    font-family: "Roboto", sans-serif;
}

/* UTILITIES */

.pad-10-12{
    padding: 10px 12px;
}

.pad-40-20{
    padding: 40px 20px;
}

.margin-btm-35{
    margin-bottom: 35px;
}

.font-100{
    font-size: 100px;
}

.font-color{
    color:  rgb(0, 132, 253);
}

.font-14{
    font-size: 14px;
}

.ta-c{
    text-align: center;
}


/* STRUCTURE */

.container{
    max-width: 1195px;
    margin: 0 auto;
    padding: 5px;
}

.container-sm{
    max-width: 885px;
    margin: 0 auto;
    padding: 5px;
}

.section-card,
.section-strategic{
    margin-top: 50px;
}

.col-12{
    width: calc(12 * 100% / 12);
}

.card{
    height: 100%;
}


/* HEADER */

.page-header{
    background-color: rgb(0, 132, 253);
}

.ai-center{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.links > ul {
    display: none;
}

.links{
    color: white
}

.button{
    border: none;
    background-color: white;
    border-radius: 100px;
    color: black;
    padding: 5px;
}


/* SECTION CARD */


.bg-cyan{
    background-color: rgb(181, 221, 255);
    border-radius: 24px;
}

.btn-blu{
    display: inline-block;
    border: none;
    background-color:  rgb(0, 132, 253);
    border-radius: 50px;
    color: white;
    padding: 10px 30px;
}

.img-size-fix{
    max-width: 250px; 
    display: block;
    margin: 0; 
}


/* SECTION STRATEGIC */

.section-strategic{
    background-color: rgb(151, 146, 228);
}

.img-size-100{
    max-width: 100%;
}

.card-planning > *{
    color: white;
}

.card-development-bg-white{
    background-color: white;
    border-radius: 24px;
    text-align: center;
}

.arrow-down{
    background-color: rgb(151, 146, 228);
    width: 30px;
    aspect-ratio: 1/1;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    line-height: 30px;
}








/* MEDIA QUERY */


@media screen and (min-width: 350px){
    .container,
    .container-sm{
        width: 100%;
        margin: 0 auto;
    }

    .hamb-menu{
        font-size: 30px;
    }
}


@media (min-width: 768px){
    .container,
    .container-sm{
        width: 100%;
    }
        
    .row{
        display: flex;
        flex-wrap: wrap;
    }

    .hamb-menu{
        display: none;
    }
    
    .links > ul {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .font-20{
        font-size: 20px;
    }

    .font-30{
        font-size: 30px;
    }

    .col-8{
        display: flex;
        flex-wrap: wrap;
    }

    .col-md-4{
        width: calc(4 * 100% / 12)
    }

    .col-md-8{
        width: calc(8 * 100% / 12);
    }

    .flex-c,
    .flex,
    .flex-w{
        display: flex;
    }

    .flex-c,
    .flex-w{
        flex-wrap: wrap;
        flex-direction: column;
        gap: 30px;
    }

    .flex-c{
        align-items: flex-start;
        justify-content: space-evenly;
    }

    .margin-btm-35{
        margin-bottom: 0;
    }

    .flex-w{
        align-items: center;
    }

    .card-phone{
        display: flex;
        align-items: flex-end;
    }

    .card-phone img{
        margin: 0;
    }
}


@media (min-width: 992px){
    .container,
    .container-sm{
        width: 100%;
    }

    .hamb-menu{
        display: none;
        
    }

    .links > ul {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    
    .card-app,
    .card-phone{
        width: 50%;
    }

    .font-30{
        font-size: 30px;
    }
    
    .card-phone img{
        margin: 0 auto;
    }

    .card-development{
        align-self: flex-end; 
    }

    .card-development-bg-white .margin-btm-35 img{
        max-width: 50%;
    }

    .card .margin-btm-30{
        margin-bottom: 30px;
    }

    .pad-0-20{
        padding: 0 20px;
    }
}